<%= form_for @product do |f| %>

  <%= render :partial => 'common/edit/errors', :locals => { :entity => @product } %>
  
  <div class="form_row">
    <%= label_tag :reference_producer_name, "Producer: " %>
    <% if @product.new_record? %>
      <%= text_field_tag :reference_producer_name, nil, :class => 'text_field text_wide', :autocomplete => 'off' %>
    <% else %>
      <%= link_to @product.reference_producer.name, @product.reference_producer %>
    <% end %>
  </div>

  <div class="form_row">
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name, :class => 'text_field text_wide' %>
  </div>

  <div class="form_row">
    <%= f.label :description, 'Notes:' %>
    <%= f.text_area :description, :class => 'text_long' %>
  </div>

  <div class="form_separator form_right_column">
    <%= f.submit %>
  </div>

  <%= render :partial => 'common/scripts/autocomplete_script',
             :locals => { :field_id => "reference_producer_name",
                          :entities_path => @reference_producer_class.name.tableize } %>

<% end %>
