
<%= render :partial => 'common/global/content_header',
           :locals => { :title => "#{@product.reference_producer.name} #{@product.name}" } %>

<div class="details_left">
  <% if @product.reference_producer.present? %>
    <div class="details_row">
      <span class="label">Producer:</span>
      <span class="content"><%= link_to @product.reference_producer.name, polymorphic_path(@product.reference_producer) %></span>
    </div>
  <% end %>
  <% if (@product.kind_of?(ReferenceBeer) || @product.kind_of?(ReferenceSpirit)) && @product.style.present? %>
    <div class="details_row">
      <span class="label"><%= (@product.kind_of?(ReferenceBeer)) ? 'Style' : 'Type' %>:</span>
      <span class="content"><%= @product.style.name %></span>
    </div>
  <% end %>
  <%= render :partial => 'common/details/product_region', :locals => { :product => @product } %>
</div>

<div class="details_right">
  <% if @product.price.present? %>
    <div class="details_row">
      <span class="label">Price:</span>
      <span class="content"><%=number_to_currency @product.price.pretty_print %></span>
    </div>
  <% end %>
</div>

<% if @product.kind_of?(ReferenceWine) %>
  <%= render :partial => 'common/details/lookup_collection',
             :locals => { :label => 'Vineyard', :lookups => @product.vineyards,
                          :entity_type => @product.type } %>
                        
  <%= render :partial => 'common/details/lookup_collection',
             :locals => { :label => 'Varietal', :lookups => @product.varietals,
                          :entity_type => @product.type } %>
<% end %>

<% if @product.description.present? %>
  <div class="details_notes clearfix">
    <div class="details_row">
      <span class="label">Notes:</span>
      <span class="content"><%= simple_format(@product.description) %> </span></div>
  </div>
<% end %>

<%= render :partial => 'common/edit/edit_actions',
           :locals => { :edit_path => edit_polymorphic_path(@product),
                        :delete_path => polymorphic_path(@product) } %>

<% content_for :right do %>
  <%= render :partial => 'common/edit/edit_admin_tags',
             :locals => { :tag_container => @product } %>
<% end %>

