
<div id="<%= container_id %>" class="help_bubble">
  <a href="#" class="help_close">close</a>
  <%= help_text %>
</div>

<script type="text/javascript">
$("#<%= target_id %>").click(function(){
  var pos = $(this).position();
  var height = $(this).height();
  //show the menu directly over the placeholder
  $("#<%= container_id %>").css( { "left": (pos.left) + "px", "top":(pos.top + height) + "px" } );
  $('#<%= container_id %>').toggle();
  return false;
});
$("#<%= container_id %> a.help_close").click(function(){
  $(this).parent().hide();
  return false;
});
</script>