<div id="welcome_bar">

  <% if current_taster %>
    <%= link_to(current_taster.username, taster_path(current_taster)) %>
    &nbsp;&nbsp;|
  <% end %>
  <span class="welcome_bar_beverage_types">
    <% if current_taster %>
      <%= link_to('Beer', taster_beer_notes_path(current_taster),
                  :class => (@beverage_type == :beer) ? 'bold underline' : nil ) -%> &middot;
      <%= link_to('Wine', taster_wine_notes_path(current_taster),
                  :class => (@beverage_type == :wine) ? 'bold underline' : nil ) -%> &middot;
      <%= link_to('Spirits', taster_spirit_notes_path(current_taster),
                  :class => (@beverage_type == :spirits) ? 'bold underline' : nil ) -%>
    <% else %>
      <%= link_to('Beer', browse_notes_path(:entity_type => BeerNote.name.tableize),
                  :class => (@beverage_type == :beer) ? 'bold underline' : nil ) -%> &middot;
      <%= link_to('Wine', browse_notes_path(:entity_type => WineNote.name.tableize),
                  :class => (@beverage_type == :wine) ? 'bold underline' : nil ) -%> &middot;
      <%= link_to('Spirits', browse_notes_path(:entity_type => SpiritNote.name.tableize),
                  :class => (@beverage_type == :spirits) ? 'bold underline' : nil ) -%>
    <% end %>
    <% if current_taster && current_taster.is?(:editor) -%>
      &middot; <%= link_to('Admin', current_taster.is?(:admin) ? tasters_path : reference_breweries_path) -%>
    <% end -%>
    <% if current_taster && current_taster.is?(:admin) -%>
      &middot; <%= link_to('Monitor', monitor_path) -%>
    <% end -%>
  </span>
  |&nbsp;&nbsp;
  
  <% if current_taster %>
    <%= link_to('Sign out', :logout) %>
  <% else %>
    <%= link_to('Sign in', :login) %> or <%= link_to('Register', new_taster_path) %>
  <% end %>
  &nbsp;
</div>