<%
  username = case
    when viewing_own_data? then 'My'
    when displayed_taster.present? then "#{displayed_taster.username}'s"
    else 'Latest'
  end
  new_beverage_path = (viewing_own_data?) ? new_polymorphic_path([current_taster, beverage_model]) : nil
%>
<%= render :partial => 'common/global/content_header',
           :locals => { :title => "#{username} #{beverage_model.name.titleize.pluralize}",
                        :new_item_path => new_beverage_path } %>

<% if beverages && !beverages.empty? %>
  <div class="main_list">
    <%= render :partial => beverage_partial, :collection => beverages %>
  </div>
<% elsif params[:in].present? %>
  <%= render :partial => 'common/global/simple_message',
             :object => "There are no #{beverage_model.name.titleize.downcase.pluralize} that match your tag filter." %>
<% elsif viewing_own_data? %>
  <%= render :partial => 'common/global/simple_message',
             :object => "Click the 'Add' link above to add a new #{beverage_model.name.titleize.downcase} to your list." %>
<% elsif displayed_taster.present? %>
  <%= render :partial => 'common/global/simple_message',
             :object => "#{displayed_taster.username} does not have any shared #{beverage_model.name.titleize.pluralize.downcase}." %>
<% else %>
  <%= render :partial => 'common/global/simple_message',
             :object => "There are no community #{beverage_model.name.titleize.pluralize.downcase}." %>
<% end %>

<%= render :partial => 'common/lists/paging_bar' %>