<%= form_for(@taster) do |f| %>
  <% if @taster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@taster.errors.count, "error") %> prohibited this taster from being saved:</h2>

      <ul>
      <% @taster.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <% for role in Taster::ROLES %>
    <%= check_box_tag "taster[roles][]", role, @taster.roles.include?(role) %>
    <%=h role.humanize %><br />
  <% end %>
  <%= hidden_field_tag "taster[roles][]", "" %>    
    
    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
