
<%= render :partial => 'common/global/content_header',
           :locals => { :title => "Edit Profile" } %>

<%= form_for(@taster, :url => "/tasters/#{@taster.id}") do |f| %>

  <%= render :partial => 'common/edit/errors', :locals => { :entity => @taster } %>
  
  <div class="form_row">
    <%= f.label :username %>
    <%= f.text_field :username, :class => 'text_field text_wide' %>
  </div>
  
  <div class="form_row">
    <%= f.label :real_name %>
    <%= f.text_field :real_name, :class => 'text_field text_wide' %>
  </div>
  
  <div class="form_row">
    <%= f.label :greeting %>
    <%= f.text_area :greeting, :class => 'text_tall'  %>
  </div>
  
  <% if current_taster.is?(:admin) -%>
    <% for role in Taster::ROLES %>
      <%= check_box_tag "taster[roles][]", role, @taster.roles.include?(role) %>
      <%= role.humanize %><br />
    <% end %>
    <%= hidden_field_tag "taster[roles][]", "" %>
  <% end %>
  
  <div class="form_separator form_right_column">
    <%= f.submit 'Update Profile' %>
  </div>

<% end %>