<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @taster.username %>
</p>

<p>
  <b>Canonical username:</b>
  <%= @taster.canonical_username %>
</p>

<p>
  <b>Email:</b>
  <%= @taster.email %>
</p>

<p>
  <b>Crypted password:</b>
  <%= @taster.crypted_password %>
</p>

<p>
  <b>Password salt:</b>
  <%= @taster.password_salt %>
</p>

<p>
  <b>Persistence token:</b>
  <%= @taster.persistence_token %>
</p>

<p>
  <b>Greeting:</b>
  <%= @taster.greeting %>
</p>

<hr/>
<%= link_to 'Breweries', taster_breweries_path(@taster) %>
<%= link_to 'Beers', taster_beers_path(@taster) %>
<%= link_to 'Beer Notes', taster_beer_notes_path(@taster) %>
<hr/>

<%= link_to 'Edit', edit_taster_path(@taster) %> |
<%= link_to 'Back', tasters_path %>
