
<%= render :partial => 'common/global/content_header',
           :locals => { :title => "Activate Account" } %>

<br/>
<p>We&#39;re sorry, but the account was not found.</p>
<br/>
<p>The URL may have expired. 
   If you would like another activation email sent then enter your email address below and click send.
</p>

<%= form_tag re_send_activation_email_path, :class => 'password_reset_form',
            :html => { :method => :post } do %>
  <div class="form_row">
    <%= label_tag "email", 'Email Address:' %>
    <%= text_field_tag "email", params[:email], :size => 30 %>
  </div>
  <div class="form_separator form_right_column">
    <%= submit_tag "Send Activation Email" %>
  </div>
<% end %>

<script type="text/javascript">
  $("#email").focus();
</script>