
<%= render :partial => 'common/global/content_header',
           :locals => { :title => @producer.name } %>


<div class="details_row">
  <span class="label">Canonical Name:</span>
  <span class="content"><%= @producer.canonical_name -%></span>
</div>

<%= render :partial => 'common/details/website_url', :object => @producer.website_url %>

<%= render :partial => 'common/details/producer_description', :object => @producer.description %>


<%= render :partial => 'common/global/subnav', 
           :locals => { :tabs => [UI::NavigationTab.new(:reference_producer_products, 'selected', @producer)] }  %>

<% if @products.present? %>
  <div class="main_list">
    <%= render :partial => 'reference_products/reference_product',
               :collection => @products %>
  </div>
  <%= render :partial => 'common/lists/paging_bar' %>
<% else %>
  <%= render :partial => 'common/global/simple_message',
             :object => "No products to display." %>
<% end %>

<%= render :partial => 'common/edit/edit_actions',
           :locals => { :edit_path => edit_polymorphic_path(@producer) } %>

<% content_for :right do %>
  <%= render :partial => 'common/edit/edit_admin_tags', :object => @producer.admin_tags,
             :locals => { :tag_container => @producer,
                          :entity_path => polymorphic_path(@producer) } %>
<% end %>

