<%
  allow_edit = defined?(allow_edit) ? allow_edit : false
  are_admin_tags = defined?(are_admin_tags) ? are_admin_tags : false
  remove_function = are_admin_tags ? 'remove_admin_tag' : 'remove_tag'
  add_tag_id = are_admin_tags ? 'add_admin_tag' : 'add_tag'
  ajax_class = are_admin_tags ? 'admin_tags_ajax' : 'tags_ajax'
  add_action = are_admin_tags ? 'add_admin_tag' : 'add_tag'
  remove_action = are_admin_tags ? 'remove_admin_tag' : 'remove_tag'
%>

<div class="tags_container">
  <div class="<%= ajax_class %>">
    <% if edit_tags.present? %>
      <%= render :partial => 'common/details/tags', :object => edit_tags,
                 :locals => { :is_admin_tag => are_admin_tags, :allow_remove => allow_edit } %>
    <% end %>
  </div>
  <% if allow_edit %>
    <%= form_tag("/#{controller_path}/#{add_action}", :id => add_tag_id) do %>
      <%= hidden_field_tag(:id, container_id) %>
      <%= text_field_tag(:tag_name, nil, :class => 'tag_name', :maxlength => 40) %>
      <%= submit_tag("Add") %>
    <% end %>
    <script type="text/javascript">
      $('#<%= add_tag_id %>').submit(function() {
        $('#<%= add_tag_id %> input.tag_name').addClass('ajax_text_busy');
        $('#<%= add_tag_id %> input.tag_name').attr('disabled', 'disabled');
        $.ajax({
          url: '/<%= controller_path %>/<%= add_action %>',
          data: form_fields('<%= add_tag_id %>'),
          type: "POST",
          success: function(tag_html) {
            $('.<%= ajax_class %>').html(tag_html);
            $('#<%= add_tag_id %> input.tag_name').val('');
          },
          complete: function() {
            $('#<%= add_tag_id %> input.tag_name').removeClass('ajax_text_busy');
            $('#<%= add_tag_id %> input.tag_name').removeAttr('disabled');
          }
        });
        return false;
      });
      function <%= remove_function %>(tag_name) {
        $.post('/<%= controller_path %>/<%= remove_action %>',
          { 'id' : <%= container_id %>,
            'tag_name' : tag_name },
          function(tag_html) {
            $('.<%= ajax_class %>').html(tag_html);
          });
        return false;
      }
      $('#<%= add_tag_id %> input.tag_name').keyfilter(/[a-z0-9-]/);
        
    </script> 
  <% end %>
</div>
 

