
<div id="<%= lookup_name %>_row" class="form_row">
  <ul class="form_list">
    <%= render :partial => 'common/edit/lookup_collection',
               :locals => { :lookup_name => lookup_name, :lookup_collection => lookup_collection,
                            :entity_type => entity_type, :lookup_type => lookup_type } %>
  </ul>
  <label><%= lookup_name.titleize %>(s):</label>
  <%= text_field_tag(lookup_name + '_name', nil, :class => 'text_field text_add') %>
  <button id="add_<%= lookup_name %>" type="button" tabindex="-1">Add</button>
</div>

<script type="text/javascript">

  $('#<%= lookup_name %>_name').keypress(function(e){
    var code = (e.keyCode ? e.keyCode : e.which);
    if(code == 13){
      add_lookup_collection_item("<%= lookup_name %>", "<%= entity_type %>", <%= lookup_type %>);
      return false;
    }
  });

  $('#add_<%= lookup_name %>').click(function(){
    add_<%= lookup_name %>();
    $('#<%= lookup_name %>_name').focus();
    return false;
  });

  $('#<%= lookup_name %>_name').blur(function(){
    add_lookup_collection_item("<%= lookup_name %>", "<%= entity_type %>", <%= lookup_type %>);
    return false;
  });

</script>

