
<table class="header" cellpadding=0 cellspacing=0><tr>
<td>
  <h1>Welcome to Second Sip</h1>
  <p class="tagline">A free tool for organizing and sharing tasting notes.
    &nbsp;&nbsp;  What&#39;re you drinking?</p>
</td>
</tr></table>



<table class="beverages" cellpadding=0 cellspacing=0><tr>
<td width="33%">
	<div class="beverage">
  		<% if current_taster %>
		  <a href="<%= taster_beer_notes_path(current_taster) %>">
		<% else %>
		  <a href="/beer_notes">
		<% end %>
		<div class="home_image_container">
    	<%= image_tag 'home_beer_note_glass_120px.png', :title => 'Beer' %>
	    <h2>Beer</h2>
		</div>
		</a>
	</div>
</td>
<td width="33%">
	<div class="beverage">
  		<% if current_taster %>
		  <a href="<%= taster_wine_notes_path(current_taster) %>">
		<% else %>
		  <a href="/wine_notes">
		<% end %>
		<div class="home_image_container">
    	<%= image_tag 'home_wine_note_glass_120px.png', :title => 'Wine' %>
	    <h2>Wine</h2>
		</div>
		</a>
	</div>
</td>
<td width="33%">
	<div class="beverage">
  		<% if current_taster %>
		  <a href="<%= taster_spirit_notes_path(current_taster) %>">
		<% else %>
		  <a href="/spirit_notes">
		<% end %>
		<div class="home_image_container">
    	<%= image_tag 'home_spirit_note_glass_120px.png', :title => 'Spirits' %>
	    <h2>Spirits</h2>
		</div>
		</a>
	</div>
</td>
</tr></table>

<p class="directions">
  <% if !current_taster %>
    <%= link_to('Sign in', :login) %> or <%= link_to('register', new_taster_path) %> to write your own notes.
  <% end %>
</p>
	


