<%= form_for(@tag) do |f| %>

  <%= render :partial => 'common/edit/errors', :locals => { :entity => @tag } %>
  
  <div class="form_row">
    <%= f.label :name, 'Name:' %>
    <%= f.text_field :name, :class => 'text_field text_wide' %>
  </div>
  
  <div class="form_separator form_right_column">
    <%= f.submit %>
  </div>

<% end %>
