
<%= render :partial => 'common/global/content_header',
           :locals => { :title => 'Friendship' } %>

<div class="details_row">
  <span class="label">Inviter:</span>
  <span class="content"><%= link_to @friendship.inviter.username, @friendship.inviter -%></span>
</div>

<div class="details_row">
  <span class="label">Invitee:</span>
  <span class="content"><%= link_to @friendship.invitee.username, @friendship.invitee -%></span>
</div>

<div class="details_row">
  <span class="label">Status:</span>
  <span class="content"><%= Enums::FriendshipStatus.enum_name(@friendship.status).downcase %></span>
</div>

<div class="details_notes clearfix">
  <div class="details_row">
    <span class="label">Invitation:</span>
    <span class="content"><%= simple_format(@friendship.invitation) %> </span></div>
</div>