
<%
  username = case
    when viewing_own_data? then 'My'
    when !@displayed_taster.nil? then "#{@displayed_taster.username}'s"
    else 'Latest'
  end
%>
<%= render :partial => 'common/global/content_header',
           :locals => { :title => "#{username} #{beverage_model.name.titleize.pluralize}",
                        :new_item_path => (viewing_own_data?) ? new_beverage_path : nil } %>

<% if beverages && !beverages.empty? %>
  <div class="main_list">
    <%= render :partial => beverage_partial, :collection => beverages %>
  </div>
<% elsif viewing_own_data? %>
  <%= render :partial => 'common/global/simple_message',
             :object => "Click the &quot;Add&quot; link above to create a new #{beverage_model.name.titleize.downcase}." %>
<% elsif @displayed_taster %>
  <%= render :partial => 'common/global/simple_message',
             :object => "#{@displayed_taster.username} does not have any public #{beverage_model.name.titleize.pluralize.downcase}." %>
<% else %>
  <%= render :partial => 'common/global/simple_message',
             :object => "There are no public #{beverage_model.name.titleize.pluralize.downcase}." %>
<% end %>

<%= render :partial => 'common/lists/paging_bar' %>