<%
  new_path = nil if !defined?(new_path)
  edit_path = nil if !defined?(edit_path)
  delete_path = nil if !defined?(delete_path)
  return if !(new_path || edit_path || delete_path)
%>
<div class="list_actions">
  <% if new_path %>
    <%= image_tag "icons/add_icon.gif" %>
    <%= link_to 'Add', new_path %>
  <% end %>
  <% if edit_path %>
    <%= image_tag "icons/edit-16.png" %>
    <%= link_to 'Edit', edit_path %>
  <% end %>
  <% if delete_path %>
    <%= image_tag "icons/delete-16.png" %>
    <%= link_to 'Delete', delete_path,
                :confirm => 'This will permanently delete the record.  Continue?',
                :method => :delete %>
  <% end %>
</div>