<%
  title = (defined?(title) && !title.nil?) ? title : 'Browse'
  are_admin_tags = defined?(are_admin_tags) ? are_admin_tags : false
  container_class = are_admin_tags ? 'tags_container' : 'admin_tags_container'
  include_list_class = are_admin_tags ? 'include_admin_tags' : 'include_tags'
  exclude_list_class = are_admin_tags ? 'exclude_admin_tags' : 'exclude_tags'
  available_list_class = are_admin_tags ? 'available_admin_tags' : 'available_tags'
  include_tag_param = are_admin_tags ? 'ain' : 'in'
  exclude_tag_param = are_admin_tags ? 'aex' : 'ex'
  filter_id = are_admin_tags ? 'filter' : 'admin_filter'
%>

<div class="tag_filter tags rightpane_separator">
  <h4><%= title %></h4>
    
  <form id="<%= filter_id %>" method="get">
    <input type="submit" value="Apply Filter">
  </form>
  
  <div class="tags_container">
    <%= render :partial => 'common/details/tags', :object => included_tags,
               :locals => { :list_class => include_list_class,
                            :title_text => 'Show Only',
                            :empty_message => 'drag here to include' }%>
    <%= # render :partial => 'common/details/tags', :object => excluded_tags,
        #      :locals => { :list_class => exclude_list_class,
        #                   :title_text => 'Exclude',
        #                   :empty_message => 'drag here to exclude' }
        %>
    <%= render :partial => 'common/details/tags', :object => available_tags,
               :locals => { :list_class => available_list_class,
                            :empty_message => 'drag here to remove from the filter' }%>
  </div>
</div>


<script type="text/javascript">
  $('#<%= filter_id %>').submit(function() {
    var params = {
      <%= include_tag_param %>: list_to_array(".<%= include_list_class %> li.tag"),
      <%= exclude_tag_param %>: list_to_array(".<%= exclude_list_class %> li.tag")
    }
    window.location = '?' + $.param(params);
    return false;
  });
	$(function() {
		//$( ".tags ul" ).sortable({
		//	connectWith: ".connected_sortable"
		//}).disableSelection();
		$(".<%= available_list_class %> ul li").click(function(){
		  move_filter_tag($(this), "<%= available_list_class %>", "<%= include_list_class %>");
		});
		$(".<%= include_list_class %> ul li").click(function(){
		  move_filter_tag($(this), "<%= available_list_class %>", "<%= include_list_class %>");
		});
	});
	
	function move_filter_tag(tag_element, available_container_class, include_container_class){
	  if(tag_element.parent().parent().attr('class') == available_container_class){
	    $("." + available_container_class + " ul").remove(tag_element);
	    $("." + include_container_class + " ul").append(tag_element);
    } else {
	    $("." + include_container_class + " ul").remove(tag_element);
	    $("." + available_container_class + " ul").append(tag_element);
	  }
  }
	
</script>
  