<%= render :partial => 'common/global/header_top' %>
<%= render :partial => 'common/global/topnav' %>
<%= render :partial => 'common/global/header_bottom' %>

<div id="content">
  <%= yield %>
</div>
<div id="rightnav">
  <%= render :partial => 'common/global/subnav', :locals => { :tabs => @subnav_tabs }  %>
  <%= yield :right %>
</div>
      
<%= render :partial => 'common/global/footer' %>