<%= render :partial => 'common/global/content_header',
           :locals => { :title => @taster.username } %>

<div class="details_row">
  <span class="label">Real Name:</span>
  <span class="content"><%= @taster.real_name -%></span>
</div>

<div class="details_row">
  <span class="label">Email:</span>
  <span class="content"><%= @taster.email -%></span>
</div>

<div class="details_notes clearfix">
  <div class="details_row">
    <span class="label">Greeting:</span>
    <span class="content"><%= format_ugc(@taster.greeting) %> </span>
  </div>
</div>

<table class="associations">
  <tr><th>Association</th><th>Count</th></tr>
  <% @associated_records.each do |key, value| %>
  	<tr><td><%= key %></td><td><%= value %></td></tr>
  <% end %>
</table>


<div class="intro simple_intro">
<p>Click to permanently delete this Taster and all of their associated data:
  <br/><br/><b><%= @taster.username %></b></p>
<%= button_to "Delete", taster_path(@taster), :method => 'delete' %>
</div>
<br/><br/><br/><br/>



