
<%= render :partial => 'common/global/content_header',
           :locals => { :title => "New Member Registration" } %>
           
<%= form_for(@taster) do |f| %>

  <%= render :partial => 'common/edit/errors', :locals => { :entity => @taster } %>
  
  <div class="form_row">
    <%= f.label :username %>
    <%= f.text_field :username, :class => 'text_field text_wide' %>
  </div>
  
  <div class="form_row">
    <%= f.label :real_name %>
    <%= f.text_field :real_name, :class => 'text_field text_wide' %>
  </div>
    
  <div class="form_row">
    <%= f.label :email %>
    <%= f.text_field :email, :class => 'text_field text_wide' %>
  </div>
  
  <div class="form_row">
    <%= f.label :greeting %>
    <%= f.text_area :greeting, :class => 'text_tall'  %>
  </div>
  
  <div class="form_separator form_right_column">
    <%= f.submit 'Register' %>
  </div>

<% end %>

<script type="text/javascript">
  $("#taster_username").focus();
</script>

<% content_for :right do %>

  <div class="right_directions">
    <br/>
    <ul><li>Username: a nickname that will be displayed with all of your notes.</li>
      <li>Real Name: any format you like from &quot;John Doe&quot; to &quot;Mr. John S. Doe III &quot;</li>
      <li>Greeting (optional): A short message for people visiting your Second Sip homepage.</li></ul>
  </div>

<% end %>
