
<%
  include_add = false if !defined?(include_add)
  include_search = defined?(search_term) ? true : false
  return if (!resources.present? && !include_add && !include_search)
%>

<h4><%= title %></h4>
<div id="resources_container">
<% if include_search %>
  <h3<a href="#">Links</a></h3>
  <div>
    <ul>
      <li><%= link_to 'Wikipedia',
              # "http://en.wikipedia.org/search-redirect.php?search=#{search_term}",
              "http://en.wikipedia.org/w/index.php?search=#{search_term}",
               :target => 'blank' %></li>
      <li><%= link_to 'Google',
              "http://www.google.com/#q=#{search_term}",
               :target => 'blank' %></li>
      <% if defined?(entity_type) && entity_type == 'Wine' %>
        <li><%= link_to 'Wine-Searcher',
                "http://www.wine-searcher.com/find/#{search_term}/-/USA/USD",
                 :target => 'blank' %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if resources.present? %>
  <% resources.each do |resource| %>
    <h3><a href="#"><%= resource_type_name(resource.resource_type) %></a></h3>
    <div class="resource_body">
      <%= link_to_external_resource(resource) %>
      <% if resource.resource_type !=  Enums::ResourceType::BJCP then
        <%=raw resource.body if resource.body.present? %>
      <% end %>
    </div>
  <% end %>
<% end %>
<% if include_add %>
  <h3><a href="#">Add:</a></h3>
  <div>    
    <% form_tag('add_resource', :id => "add_resource") do %>
      <%= hidden_field_tag(:lookup_id, @lookup.id) %> 
      <%= text_field_tag(:resource_name) %>
      <%= submit_tag("Add") %>
    <% end %>
  </div>
<% end %>
</div>

<script type="text/javascript">
	$(function() {
		$( "#resources_container" ).accordion();
	});
	
  <% if include_add %>
  $('#add_resource').submit(function() {
      $.post('add_resource',
             form_fields('add_resource'),
             function(resource_html) {
               $('.resources').html(resource_html);
             });
      return false;
  });
  <% end %>
</script>  

<% if include_add %>
  <%= render :partial => 'common/scripts/autocomplete_script',
             :locals => { :field_id => "resource_name",
                          :entities_path => "resources" } %>
<% end %>

