<%= form_for(@friendship) do |f| %>
  <% if @friendship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@friendship.errors.count, "error") %> prohibited this friendship from being saved:</h2>

      <ul>
      <% @friendship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :creator_id %><br />
    <%= f.text_field :creator_id %>
  </div>
  <div class="field">
    <%= f.label :updater_id %><br />
    <%= f.text_field :updater_id %>
  </div>
  <div class="field">
    <%= f.label :inviter_id %><br />
    <%= f.text_field :inviter_id %>
  </div>
  <div class="field">
    <%= f.label :invitee_id %><br />
    <%= f.text_field :invitee_id %>
  </div>
  <div class="field">
    <%= f.label :invitation %><br />
    <%= f.text_area :invitation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
