<%= render :partial => 'common/global/content_header', :locals => { :title => 'Invitation'} %>

<div class="invitation prose_container">
  <p><%= link_to(@friendship.inviter.username, @friendship.inviter) %>
    says:</p>
  <%= simple_format @friendship.invitation %>
</div>

<% form_for(@friendship) do |f| %>
  <%= render "common/global/error_messages", :target => @friendship %>
  <div class="form_separator form_right_column">
    <%= f.submit 'Accept' %>
    <%= f.submit 'Decline' %>
  </div>
<% end %>

<% content_for :right do %>

  <%= render :partial => 'common/global/rightpane_header',
            :locals => { :title => current_taster.username,
                         :edit_item_path => (viewing_own_data?) ? edit_taster_path(current_taster) : nil } %>

  <div class="prose_container"><%= simple_format current_taster.greeting %></div>
  
  <%= render :partial => 'tasters/friends' %>

<% end %>
