

<%= form_for([@product.owner || current_taster, @product]) do |f| %>

  <%= render :partial => 'common/edit/errors', :locals => { :entity => @product } %>
  
  <div class="form_row">
    <%= label_tag :producer_name, "#{@producer_class.name.titleize}: " %>
    <% if @product.new_record? %>
      <%= text_field_tag :producer_name, nil, :class => 'text_field text_wide', :autocomplete => 'off' %>
    <% else %>
      <span id="producer_name"><%= link_to @product.producer.name, [@product.producer.owner, @product.producer] %></span>
    <% end %>
  </div>

  <div class="form_row">
    <%= f.label :name, "#{@product_class.name.titleize} Name:" %>
    <%= f.text_field :name, :class => 'text_field text_wide' %>
  </div>
  
  <%= render :partial => 'products/product_lookups' %>

  <div class="form_row">
    <%= f.label :description, 'Notes:' %>
    <%= f.text_area :description, :class => 'text_long' %>
  </div>

  <div class="form_row form_separator">
    <%= f.label :visibility, 'Share:' %>
    <%= f.radio_button("visibility", Enums::Visibility::PRIVATE) %> Private &nbsp;&nbsp;
    <%= f.radio_button("visibility", Enums::Visibility::FRIENDS) %> Friends &nbsp;&nbsp;
    <%= f.radio_button("visibility", Enums::Visibility::PUBLIC) %> Public
  </div>

  <div class="form_separator form_right_column">
    <%= f.submit %>
  </div>

  <%= render :partial => 'common/scripts/autocomplete_script',
             :locals => { :field_id => "producer_name",
                          :entities_path => polymorphic_path([current_taster, @producer_class]) } %>

  <script type="text/javascript">
    <% if @product.new_record? %>
      $("#producer_name").focus();
    <% else %>
      $("#style_name").focus();
    <% end %>
  
    function update_product_form_producer(producer) {
      $('#<%= @product_class.name.underscore %>_visibility_' + producer.visibility).attr('checked', true);
    }
  
    producer_name_changed = false;
    $("#producer_name").change(function(){
      producer_name_changed = true;
    });
    $("#producer_name").blur(function(){
      if(producer_name_changed){
        producer_name_changed = false;
        $.get('<%= polymorphic_path([current_taster, @producer_class]) %>/ajax_details',
             { 'name' : $("#producer_name").val() },
             function(producer) {
               update_product_form_producer(producer);
             });
      }
    });
  
  </script>
  <% if @product.class == Beer || @product.class == Spirit %>
    <%= render :partial => 'common/scripts/autocomplete_script',
               :locals => { :field_id => "#{@product_class.name.underscore}_style_name",
                            :entities_path => 'lookups',
                            #:on_select_function => "show_lookup_references",
                            #:on_click_function => "show_lookup_references",
                            :params => {'lookup_type' => Enums::LookupType::STYLE,
                                        'entity_type' => @product_class.name} } %>
  <% end %>
<% end %>
