<h1>Listing products</h1>

<table>
  <tr>
    <th>Producer</th>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.producer.name %></td>
    <td><%= product.name %></td>
    <td><%= link_to 'Show', [product.owner, product] %></td>
    <td><%= link_to 'Edit', edit_polymorphic_path([product.owner, product]) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_polymorphic_path([current_taster, @product_class]) %>
