<%= form_for @producer  do |f| %>

  <%= render :partial => 'common/edit/errors', :locals => { :entity => @producer } %>
  
  <div class="form_row">
    <%= f.label :name, 'Name:' %>
    <%= f.text_field :name, :class => 'text_field text_wide' %>
  </div>
  <div class="form_row">
    <%= f.label :website_url, 'Website:' %>
    <%= f.text_field :website_url, :class => 'text_field text_wide' %>
  </div>
  <div class="form_row">
    <%= f.label :description, 'Notes:' %>
    <%= f.text_area :description, :class => 'text_tall'  %>
  </div>
  
  <div class="form_separator form_right_column">
    <%= f.submit %>
  </div>

<% end %>

