<%= form_for([@producer.owner || current_taster, @producer], :as => :producer) do |f| %>

  <%= render :partial => 'common/edit/errors', :locals => { :entity => @producer } %>
  
  <div class="form_row">
    <%= f.label :name, 'Name:' %>
    <%= f.text_field :name, :class => 'text_field text_wide' %>
  </div>
  <div class="form_row">
    <%= f.label :website_url, 'Website:' %>
    <%= f.text_field :website_url, :class => 'text_field text_wide' %>
  </div>
  <div class="form_row">
    <%= f.label :cases_per_year, 'Cases / Year:' %>
    <%= f.text_field :cases_per_year, :class => 'text_field', :maxlength => 15 %>
  </div>
  <div class="form_row">
    <%= f.label :description, 'Notes:' %>
    <%= f.text_area :description, :class => 'text_tall'  %>
  </div>

  <div class="form_row form_separator">
    <%= f.label :visibility, 'Share:' %>
    <%= f.radio_button("visibility", Enums::Visibility::PRIVATE) %> Private &nbsp;&nbsp;
    <%= f.radio_button("visibility", Enums::Visibility::FRIENDS) %> Friends &nbsp;&nbsp;
    <%= f.radio_button("visibility", Enums::Visibility::PUBLIC) %> Public
  </div>
  
  <div class="form_separator form_right_column">
    <%= f.submit %>
  </div>

  <script type="text/javascript">
    $('#<%= @producer_class.name.tableize %>_cases_per_year').keyfilter(/[0-9.]/);
  </script>

<% end %>
