<%
  notes_tab_selected = (params[:tab] == 'notes')
%>

<%= render :partial => 'common/global/content_header',
           :locals => { :title => @producer.name,
                        :visibility => @producer.visibility } %>

<%= render :partial => 'common/details/website_url', :object => @producer.website_url %>

<%= render :partial => 'common/details/producer_description', :object => @producer.description %>

<%= render :partial => 'common/global/subnav', 
           :locals => { :tabs => [UI::NavigationTab.new(:producer_products,
                                    !notes_tab_selected ? 'selected' : nil, @producer),
                                  UI::NavigationTab.new(:producer_notes,
                                    notes_tab_selected ? 'selected' : nil, @producer)] }  %>

<% if notes_tab_selected %>
  <% if @notes.present? %>
    <div class="main_list">
      <%= render :partial => 'notes/note', :collection => @notes %>
    </div>
    <%= render :partial => 'common/lists/paging_bar' %>
  <% else %>
    <%= render :partial => 'common/global/simple_message',
               :object => "No notes to display." %>
  <% end %>
<% else %>
  <% if @products.present? %>
    <div class="main_list">
      <%= render :partial => 'products/product', :collection => @products %>
    </div>
    <%= render :partial => 'common/lists/paging_bar' %>
  <% else %>
    <%= render :partial => 'common/global/simple_message',
               :object => "No #{@product_class.name.titleize.pluralize.downcase} to display." %>
  <% end %>
<% end %>

<% if allow_edit?(@producer) %>
  <%= render :partial => 'common/edit/edit_actions',
             :locals => { :edit_path => edit_polymorphic_path([@producer.owner, @producer]),
                          :promote_path => new_polymorphic_path(@reference_producer_class,
                                            :promote => @producer.id) } %>
<% end %>

<% content_for :right do %>
  <%= render :partial => 'common/edit/edit_user_tags', :object => @producer.tags,
             :locals => { :tag_container => @producer,
                          :entity_path => polymorphic_path([@producer.owner, @producer]) } %>
  <%= render :partial => 'common/edit/edit_admin_tags', :object => @producer.admin_tags,
             :locals => { :tag_container => @producer,
                          :entity_path => polymorphic_path([@producer.owner, @producer]) } %>
  <%= render :partial => 'common/lists/add_beverage_bar',
             :locals => { :product_params => {:producer_name => @producer.name},
                          :note_params => {:producer_name => @producer.name} } %>
<% end %>


