<%= render :partial => 'common/global/content_header', :locals => { :title => @lookup.name} %>

<% if @lookup.description -%>
  <div class="details_row details_separator"><span class="details_label"> Description: </span>
  <div class="details_field"><%= simple_format(h(@lookup.description)) %> </div></div>
<% end %>


<% if @child_lookups && !@child_lookups.empty? %>
  <div class="main_list">
    <%= render :partial => 'reference_lookup', :collection => @child_lookups %>
  </div>
<% end %>

<%= link_to 'Edit', edit_reference_lookup_path(@lookup) %> |
<%= link_to 'Add Child', new_reference_lookup_path(:parent_id => @lookup.id) %>

<% content_for :right do %>
  <%= render :partial => 'common/edit/edit_admin_tags',
             :locals => { :tag_container => @lookup } %>
<% end %>

