<%
  include_add = false if !defined?(include_add)
  include_search = defined?(search_term) ? true : false
  return if (!references.present? && !include_add && !include_search)
%>
<h4><%= title %></h4>
<div id="references_container">
<% if include_search %>
  <h3<a href="#">Links</a></h3>
  <div>
    <ul>
      <li><%= link_to 'Wikipedia',
              # "http://en.wikipedia.org/search-redirect.php?search=#{search_term}",
              "http://en.wikipedia.org/w/index.php?search=#{search_term}",
               :target => 'blank' %></li>
      <li><%= link_to 'Google',
              "http://www.google.com/#q=#{search_term}",
               :target => 'blank' %></li>
      <% if defined?(entity_type) && entity_type == 'Wine' %>
        <li><%= link_to 'Wine-Searcher',
                "http://www.wine-searcher.com/find/#{search_term}/-/USA/USD",
                 :target => 'blank' %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if  references.present? %>
  <% references.each do |reference| %>
    <h3><a href="#"><%= reference.title %></a></h3>
    <div class="reference_body"><%= reference.body %></div>
  <% end %>
<% end %>
<% if include_add %>
  <h3><a href="#">Add:</a></h3>
  <div>    
    <% form_tag('add_reference', :id => "add_reference") do %>
      <%= hidden_field_tag(:lookup_id, @lookup.id) %> 
      <%= text_field_tag(:reference_name) %>
      <%= submit_tag("Add") %>
    <% end %>
  </div>
<% end %>
</div>

<script type="text/javascript">
	$(function() {
		$( "#references_container" ).accordion();
	});
	
  <% if include_add %>
  $('#add_reference').submit(function() {
      $.post('add_reference',
             form_fields('add_reference'),
             function(reference_html) {
               $('.references').html(reference_html);
             });
      return false;
  });
  <% end %>
</script>  

<% if include_add %>
  <%= render :partial => 'common/scripts/autocomplete_script',
             :locals => { :field_id => "reference_name",
                          :entities_path => "references" } %>
<% end %>

