<%= form_for(@lookup) do |f| %>

  <%= render :partial => 'common/edit/errors', :locals => { :entity => @lookup } %>
  
  <div class="form_row">
    <%= f.label :name, 'Name:' %>
    <%= f.text_field :name, :class => 'text_field text_wide' %>
  </div>
  <div class="form_row">
    <%= f.label :entity_type, 'Entity:' %>
    <%= f.select(:entity_type, Enums::ReferenceBeverageEntityType.collection,
                           :class => 'select_field') %>
  </div>
  <div class="form_row">
    <%= f.label :lookup_type, 'Field:' %>
    <%= f.select(:lookup_type, Enums::LookupType.collection, :class => 'select_field') %>
  </div>
  <div class="form_row">
    <%= f.label :description, 'Notes:' %>
    <%= f.text_area :description, :class => 'text_tall'  %>
  </div>
  
  <div class="form_separator form_right_column">
    <%= f.submit %>
  </div>

<% end %>
