
<%= render :partial => 'common/global/content_header',
           :locals => { :title => "Reference Lookups",
                        :new_item_path => new_reference_lookup_path } %>

<% if @lookups && !@lookups.empty? %>
  <div class="main_list">
    <%= render :partial => 'reference_lookup', :collection => @lookups %>
  </div>
<% else %>
  <%= render :partial => 'common/global/simple_message',
             :object => "There are no reference lookups." %>
<% end %>

<%= render :partial => 'common/lists/paging_bar' %>

<% content_for :right do %>
  <%= render :partial => 'common/global/rightpane_search',
             :locals => { :search_path => search_reference_lookups_path } %>
  <%= render :partial => 'common/lists/admin_tag_filter' %>
<% end %>


