<%= render :partial => 'common/global/header_top' %>
<%= yield :topnav %>
<%= render :partial => 'common/global/header_bottom' %>

<div id="content_wide">
  <%= yield %>
</div>
      
<%= render :partial => 'common/global/footer' %>


