
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  
  <% if request.user_agent.include?("iPhone") -%>
		<meta name="viewport" content="width=800" />
	<% end -%>
  
  <title>Second Sip</title>
  <%= stylesheet_link_tag 'jquery-ui-1.8.6.custom' %>
  <%= stylesheet_link_tag 'common' %>
  <%= javascript_include_tag 'jquery-1.4.2.min' %>
  <%= javascript_include_tag 'jquery-ui-1.8.6.custom.min' %>
  <%= javascript_include_tag 'jquery.keyfilter' -%>
  <%= javascript_include_tag 'application' %>
  <%= yield(:javascript_includes) -%>
  <%= csrf_meta_tag %>
</head>

<body class="<%= calculate_body_class %>">
  <div id="tophat">
    <div id="tophat_inner" class="clearfix">
      <%= render :partial => 'common/global/welcome_bar' %>
    </div>
  </div>

  <div id="header">
    <div id="header_inner">  
      <div id="logo">
        <a href="/">
          <img alt="Second Sip Home" src="/images/SecondSip_smallRipple_Logo.png"/>
        </a>
      </div>
<%-# The top nav is contained in the layout -%>
<%-# Then the header is closed in _header_bottom.html.erb -%>
