<h1>Listing notes</h1>

<table>
  <tr>
    <th>Producer</th>
    <th>Product</th>
    <th>Description overall</th>
    <th></th>
    <th></th>
  </tr>

<% @notes.each do |note| %>
  <tr>>
    <td><%= note.product.name %></td>
    <td><%= note.description_overall %></td>
    <td><%= link_to 'Show', [note.owner, note] %></td>
    <td><%= link_to 'Edit', edit_polymorphic_path([note.owner, note]) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Note', new_polymorphic_path([current_taster, @note_class]) %>
