<p id="notice"><%= notice %></p>

<p>
  <b>Producer:</b>
  <%= @note.product.producer.name %>
</p>

<p>
  <b>Product:</b>
  <%= @note.product.name %>
</p>

<p>
  <b>Description overall:</b>
  <%= @note.description_overall %>
</p>

<%= link_to 'Edit', edit_polymorphic_path([@note.owner, @note]) %> |
<%= link_to 'Back', polymorphic_path([@note.owner, @note_class]) %>
